*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 18px;
    font-family: "ヒラギノ角ゴ Pro NW3", "Hiragino Kaku Gothic ProN","Noto Sans JP","MS PGothic","sans-serif";
}
*{
    box-sizing: border-box;
    margin: 0;
}
button{
    all: unset;
}